<%= render "layouts/navbar" %>
<br>
<div class="container">
  <div class="row">
    <div class="col-6">
    <% @items.each do |item| %>

    <div class="card card-sizing">
      <div class="card-category" style="background-image: url(<%= cl_image_path item.photos.first.key, height: 300, crop: :fill %>)">
      <i>i</i>
      </div>
      <p class="item-title mt-2"> <%= item.condition %> <%= item.brand %> <%= item.category %> <%= item.size %></p>
      <p class="sub-text"><span class="red"> $<%= item.price %> </span> | Vienna, Austria</p>
      <%= link_to "VIEW", item_path(item), class: "btn btn-primary" %>
    </div>

    <br>
    </div>
  <% end %>
  </div>
</div>



<style type="text/css">
  .card-category {
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));

}

.card-sizing{
  width:150px;
  max-width: 150px;
  max-height: 215px;

}

.item-title{
  font-size:13px;
  text-align: center;
}

.sub-text{
  font-size:12px;
  text-align:center;
}
</style>
