<%= render "layouts/navbar" %>

<br>
<div class="container">
  <div class="card">
    <p class="d-flex justify-content-center"> <%= @item.condition %> <%= @item.brand %> <%= @item.category %> <%= @item.size %> -- <span class="red"> $<%= @item.price %> </span> </p>
    <br>
    <div class="d-flex justify-content-center">
      <% @item.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 50, width: 75, crop: :fill %>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path photo.key, height: 300, crop: :fill %>)">
          Cool article
        </div>
      <% end %>
    </div>
    <br>
      <%= link_to "edit", edit_item_path, class: "btn btn-info" %>
      <%= link_to "Delete Item",
            item_path(@item),
            class: "btn btn-info",
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </div>
</div>


